<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registation</h1>



 <form action="">
        {{form}}

        <button>Submit</button>
 </form>



 {% comment %} <form action="">
        <table>
            {{form.as_table}}
        </table>

        <button>Submit</button>
 </form> {% endcomment %}



 {% comment %} <form action="">
      <ul>
          {{form.as_ul}}
      </ul>

        <button>Submit</button>
 </form> 
  {% endcomment %}



 {% comment %} <form action="">
      
          {{form.as_p}}
      

        <button>Submit</button>
 </form> 
  {% endcomment %}


{% comment %} 
 <form action="">
      
          {{form.first_name}}
      

        <button>Submit</button>
 </form>  {% endcomment %}
 
</body>
</html>