{% extends "core/base.html" %}
{% block title %}Generate OR{% endblock title %}
{% block content %}



<div class="center-container">
    <div class="container">
        <h1>Generate OR Code</h1>

        <form action="{% url 'generate_qr' %}" method="post">
            {% csrf_token %}

            <input type="text" name="monile_number" placeholder="Enter 11-digit mobile number" required pattern= "\d{10}" id="">
             <input type="text" name="qr_data" placeholder="Enter text to generate qr code" required id="">

             <button type="submit">Generate</button>
        </form>

        <div class="qr_preview">
            
            {% if qr_image_url %}
            <h2>Your QR Code:</h2>
            <img src="{{qr_image_url}}" alt="">
                <br>
                <a href="{{qr_image_url}}" download class="download-button">Save QR</a>
            {% endif %}
                
        </div>
    </div>
</div>


{% endblock content %}