{% extends 'core/base.html' %}
{% load static %}


{% block corecss %} {{block.super}}
         <link rel="stylesheet" href="{%static 'course/css/style.css'%}">
{% endblock corecss %}
    



{% block title %}
    Django page 
{% endblock title %}


{% block hero %}
{% include 'core/components/hero.html' with name='moon' %}

{% endblock hero %}

{% block content %}
    Django Page {{name}}
{% endblock content %}



{% block footer %}
   {{block.super}}  This is django footer
{% endblock footer %}
    
    
    