{% extends "book/base.html" %}

{% block title %}Add Book{% endblock title %}

{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Add a New Book</h2>
   <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
            {{ field.label_tag }}
            {{ field }}
            <ul class="errorlist text-red-500">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <button type="submit" class="btn w-full bg-orange-400">Submit</button>
</form>
</div>
{% endblock content %}