<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>My name is {{name|add:"-CHECK"}}</h1>

    {%for x in fruits%}

    <h1>{{x|add:"-CHECK"}}</h1>

    {%endfor%} {% for i in price %}
    <h1>Price is {{i|add:80}}</h1>
    {% endfor %}

    <h1>{{title|addslashes}}</h1>

    <button onclick="alert('{{title|addslashes}}')">Click</button>

    <textarea name="" id="" style="width: 800px">{{name|center:50}}</textarea>
    <h1>{{name|cut:"A"}}</h1>
    <h1>{{name|date}}</h1>
    <h1>{{des|default:"Rahe"}}</h1>
    <h1>{{des|default_if_none:"Rahe"}}</h1>

    {% for i in cars|dictsortreversed:"year" %}
    <h3>{{i.year}}</h3>
    <p>{{i.brand}}</p>
    <p>{{i.model}}</p>
    {% endfor %}


    <h1>{{total|divisibleby:3}}</h1>
    
    {% autoescape off %}
      <h2>{{heading}}</h2>
       <h2>{{title}}</h2>
    {% endautoescape %}
   
    









  </body>
</html>
