<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en" data-theme='light'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   
     {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>


    {% block navbar %}
    {% include 'core/components/navbar.html' %}
    {% endblock navbar %}


    {% block hero %}{% endblock hero %}




    {% block maincontent %}{% endblock maincontent %}






 {% block footer %}

{% include 'core/components/footer.html' %}

{% endblock footer %}
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>