
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Django templates with static file</h1>
   
  
    <img src="{%static 'myapp/images/pic1.jpg'%}" alt="" style="width: 400px;">
    <img src="{% get_static_prefix %}myapp/images/pic1.jpg" alt="" style="width: 300px;">












    <button type='button' value='click me' onclick='disp()'> Click me</button>






<script src="{%static 'myapp/js/scripts.js'%}"></script>
</body>
</html>