<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   {#<h1>{{title | lower}}</h1> comments template#} 

    <h1>Text Formating</h1>

<p>{{word | capfirst}}</p>
<h6>{{sentence | upper}}</h6>
<h6>{{word |cut:'W'}}</h6>
<h6>{{sentence | title|truncatewords:4 }}</h6>
<h6>{{sentence | title|truncatechars:4 }}</h6>

<hr>

<h1>Number Filtering</h1>
<h6>{{number | floatformat:1 }}</h6>
<h6>{{number | add:100 }}</h6>
<h6>{{9 | divisibleby:3}}</h6>
<hr>
<h1>List Formating</h1>

<h6>{{ my_list | length}}</h6>
<h6>{{ my_list | first}}</h6>
<h6>{{ my_list | last}}</h6>
<h6>{{ my_list |join:","}}</h6>
<h6>{{ my_list |slice:":3"}}</h6>

<hr>



<h1>Date and Time Filter</h1>

<h6>{{my_date}}</h6>
<h6>{{my_date | date:"d-m-y"}}</h6>
<h6>{{my_date | timeuntil}}</h6>
<h6>{{my_date}}</h6>
<hr>



<h1>Escape Filter</h1>
<h6>{{my_string | escapejs}}</h6>

<h6>{{my_html | escape}}</h6>
<h6>{{my_html | force_escape}}</h6>
<h6>{{my_html | safe}}</h6>
<hr>



<h1>Conditional Filter</h1>

<h6>{{my_var| default:"No Value Provided"}}</h6>
<h6>{{my_var| default_if_none:"None is Provided"}}</h6>
<h6>{{is_bangla | yesno:"Yes,No,Maybe"}}</h6>

<hr>



<h1>Dictionary Filter</h1>
<h6>{{my_dict |dictsort:'age'}}</h6>
<h6>{{my_dict |dictsortreversed:'age'}}</h6>





</body>
</html>